<section id="content">
    <main>
        <div class="table-data">
            <div class="order">
                <div class="card">
                    <div class="row no-gutters ml-1">
                        <div class="col-md-4 d-flex align-items-center">
                            <img src="/images/program-img4.jpg" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">ABC</h5>
                                <p>Kottayam > Pala > Bharananganam</p>
                                <p class="card-text">Short Description on facility</p>
                                <div>
                                    <a href="" class="btn btn-primary">Book Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </main>
</section>