<section id="content">
    <main>
        <div class="membership-card-section">
            <div class="container-fluid">
                <div class="row ticket">
                    <div class="d-flex flex-column justify-content-center">
                        <div class="stub">
                            <div class="top">
                                <span class="admit">Membership</span>
                                <span class="line"></span>
                                <span class="num">
                                    <span>Fit Zone Gym</span>
                                </span>
                            </div>
                            <div class="text-center"><i class="fa-solid fa-dumbbell mt-3"></i></div>
                            <div class="invite">
                                FLEX IT UP
                            </div>
                        </div>
                    </div>
                    <div class="check">
                        <div>
                            Card id :
                        </div>
                        <div class="number">
                            <div class="big">#12345</div>
                        </div>
                        <div class="info row">
                            <section class="col-md-6">
                                <div class="title">Name</div>
                                <div>John Doe</div>
                            </section>
                            <section class="col-md-6">
                                <div class="title">Validity</div>
                                <div>01/01/2024 - 12/31/2024</div>
                            </section>
                            <section class="col-md-6">
                                <div class="title">Cost</div>
                                <div>$99.99</div>
                            </section>
                            <section class="col-md-6">
                                <div class="title">Status</div>
                                <div class="status active">Active</div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</section>