<section id="content">
    <main>
        <div class="table-data">
            <div class="order">
                <div class="head">
                    <h3>Recent Bookings</h3>
                    {{!-- <i class='bx bx-search'></i>
                    <i class='bx bx-filter'></i> --}}
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>Fitness Center</th>
                            <th>Date</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                {{!-- <img src="/images/user.jpg" class=""> --}}
                                <p>Gym X</p>
                            </td>
                            <td>01-10-2021</td>
                            <td><span class="status text-success">Completed</span></td>
                        </tr>
                        <tr>
                            <td>
                                {{!-- <img src="/images/user.jpg"> --}}
                                <p>Gym Y</p>
                            </td>
                            <td>01-10-2021</td>
                            <td><span class="status text-warning">Pending</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </main>
</section>